@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


/*TO MOVE*/ 

:root {
    --primary-color: #1976d2; /* Example Primary Color */
    --accent-color: #ff4081; /* Example Accent Color */
    --warn-color: #f44336; /* Example Warn Color */
    --background-color: #ffffff; /* Example Background Color */
    --foreground-color: #000000; /* Example Foreground Color */
    --foreground-text: #212121; /* Example Foreground Text */
}

