@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-leftPaneBg: #0e0e0e;
  --color-rightPaneBg: #1e1e1e;
  --color-oBlue: #09bfff;
  --color-oRed: #cc000c;
  --color-oYellow: #ffbe00;
  --color-oGreen: #0fcd4f;
  --color-oGray: #989898;
  --color-oGray2: #424242;
  --color-oNight: #ef4444;

  --color-primary: #1976d2;
  --color-accent: #ff4081;
  --color-warn: #f44336;
  --color-background-color: #ffffff;
  --color-foreground-color: #000000;
  --color-foreground-text: #212121;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@utility text-balance {
  text-wrap: balance;
}